In [1]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

In [2]:
if __name__ == '__main__': #me conecto a sql
 engine = create_engine('mysql+mysqlconnector://uservisas:uservisas@localhost:3306', echo= False)

In [24]:
engine.execute("USE dw_visas;") #creamos Data warehouse para "Visas"
engine.execute("SET FOREIGN_KEY_CHECKS = 0;") 


    # Dimension trabajo
engine.execute("DROP TABLE IF EXISTS Job_T;")
engine.execute("""
        CREATE TABLE Job_T(
        id INT NOT NULL,
        Full_Time VARCHAR(1),
        Title VARCHAR(30) NOT NULL,
        prevailing_wage FLOAT NOT NULL,
        worksite VARCHAR(10) NOT NULL,
        PRIMARY KEY(prevailing_wage)
        );""")

    # Dimension caso
engine.execute("DROP TABLE IF EXISTS Case_N;")
engine.execute("""
        CREATE TABLE Case_N(
        number INTEGER UNIQUE NOT NULL,
        case_status VARCHAR(10) NOT NULL,
        year VARCHAR (4) NOT NULL,
        PRIMARY KEY(number)
        );""")

  #Dimension empleador
engine.execute("DROP TABLE IF EXISTS Soc_N;")
engine.execute("""
        CREATE TABLE Soc_N(
        id INT NOT NULL,
        soc_name VARCHAR(15) NOT NULL,
        employer_name VARCHAR(20) NOT NULL,
        PRIMARY KEY(employer_name)
        );""")
  

    # Fact visa info
engine.execute("DROP TABLE IF EXISTS ft_visainfo;") #creacion de la fact table "donde se conectan todo"
engine.execute("""
        CREATE TABLE ft_visainfo(
            id INT NOT NULL,
            prevailing_wage FLOAT NOT NULL,
            employer_name VARCHAR(20) NOT NULL,
            PRIMARY KEY(id),
            FOREIGN KEY(prevailing_wage) REFERENCES Job_T(prevailing_wage),
            FOREIGN KEY(employer_name) REFERENCES Soc_N(employer_name)
        );""")

engine.execute("SET FOREIGN_KEY_CHECKS = 1;")

In [25]:
#luego de haber cargado los datos: ETL

def extract(engine):
    engine.execute("USE stagingvisas")  # staging para guardar la data tal cual como viene "RAW"

    engine.execute("DROP TABLE IF EXISTS raw_caseinfo;")
    engine.execute("""
        CREATE TABLE raw_caseinfo AS
        SELECT * FROM visas.Case_Info
        ;""")

    engine.execute("DROP TABLE IF EXISTS raw_Jobdescrip;")
    engine.execute("""
        CREATE TABLE raw_Jobdescrip AS
        SELECT * FROM visas.job_Descrip
        ;""")

    engine.execute("DROP TABLE IF EXISTS raw_Socname;")
    engine.execute("""
        CREATE TABLE raw_Socname AS
        SELECT * FROM visas.Soc_Name
        ;""")


def transform(engine): #transformar desde staging importando los datos RAW
    engine.execute("USE stagingvisas")

    engine.execute("DROP TABLE IF EXISTS stg_caseinfo;")
    engine.execute("""
        CREATE TABLE stg_caseinfo AS
            SELECT
                Number,
                Case_Status,
                YEAR
            FROM raw_caseinfo
        ;""")

    engine.execute("DROP TABLE IF EXISTS stg_Jobdescrip;")
    engine.execute("""
        CREATE TABLE stg_Jobdescrip AS
            SELECT
                id,
                Full_Time,
                Title,
                Prevailing_Wage,
                Worksite
            FROM raw_Jobdescrip
        ;""")


    engine.execute("DROP TABLE IF EXISTS stg_socname;")
    engine.execute("""
        CREATE TABLE stg_socname AS
            SELECT
                id,
                Soc_Name,
                Employer_name,
            FROM raw_socname
        ;""")


def load(engine): #carga de datos al Data warehouse de visas desde staging
    engine.execute("USE dw_visas")

    engine.execute("""
        INSERT INTO Case_N(
            Number,
            Case_Status,
            YEAR
        )
        SELECT
           Number,
           Case_Status,
           YEAR,
        FROM stg_caseinfo
        ;""")

    engine.execute("""
        INSERT INTO Job_T(
            id,
            Full_Time,
            Title,
            prevailing_wage,
            worksite
        )
        SELECT
            id,
            Full_Time,
            Title,
            Prevailing_Wage,
            Worksite
        FROM stg_Jobdescrip
        ;""")

    engine.execute("""
        INSERT INTO Soc_N(
            id,
            soc_name,
            Employer_name,
        )
        SELECT
            id,
            soc_name,
            Employer_name,
        FROM staging.soc_name
        ;""")
    
    #es raro porque no me tiro ningun error pero la stablas no se crearon en mysql , stagingvisas esta intacto.